<nav class="navbar nav navbar-expand-lg">
  <%= link_to root_path, class: 'brand-link' ? 'active' : 'text-white' do %>
    <i class="fas fa-mail-bulk"></i> Postcards
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= link_to about_path do %>
          <i class="fas fa-info"></i> About
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_path do %>
          <i class="fas fa-vote-yea"></i> New Postcard
        <% end %>
      </li>
    </ul>
    <form class="d-flex">
      <% if user_signed_in? %>
        <p>Currently Logged in as <%= current_user.name %></p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-success"  %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-success" %>
      <% end %>
    </form>
  </div>
  </div>
</nav>